* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #240dd5, #eb0808);
    box-sizing: border-box;
}



input {
    width: 250px;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: 0.3s;
}


h2 {
    color: #2e1111;
    font-weight: 500;
}

h2 span {
    font-weight: bold;
    color: #444018;
    display: inline-block;
    min-width: 40px; 
}